/* Global */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}


/* Header banner part */
#header-banner {
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#header-container {
    height: 80px;
    width: 60%;
    margin: auto;
}

.nav-container {
    display: flex;
    align-items: center;
}

#header-test {
    height: 80px;
}

.navMenu {
    margin: auto;
}
  
.navMenu a {
    color: #35300b;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.navMenu a:hover {
    color: #fddb3a;
}
  
.navMenu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
  
.navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
  
.navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
  
.navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}


/* Banner part */
#banner-container {
    height: 250px;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.banner-bloc {
    padding: 1%;
    background-color: #334970;
    color: white;
    border-radius: 1%;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Animation boutton CONTACT */
.cta-contact {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

.cta-contact a {
    font-size: 15px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

.cta-contact a:before,
.cta-contact a:after{
    position: absolute;
    content: "CONTACT";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 5px;
}

.cta-contact a:before{
    color: #fff;
    background: #e86b2b;
    transform: rotateY(0deg) translateZ(25px);
}

.cta-contact a:after{
    color: rgb(255, 255, 255);
    transform: rotateX(90deg) translateZ(25px);
    border-color: white;
}

.cta-contact a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}


/* Prensentation part */
#presentation-container {
    height: 600px;
    background-color: #334970;
}

.presentation-main-title {
    width: 30%;
    margin: auto;
    padding: 2%;
}

.title-quote {
    color: white;
    font-size: 1em;
    font-style: italic;
}

.presentation-bloc {
    border: 1px solid white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #e86b2b;
}

.presentation-article {
    color: white;
    width: 30%;
    text-align: center;
    padding: 1%;
    
}


/* Portefolio part */

.portefolio-title {
    text-transform: uppercase;
    margin: auto;
    width: 50%;
    padding: 5%;
    text-align: center;
}

.portefolio-first {
    display: flex;
    text-align: center;
    width: 60%;
    margin: auto;

}

.portefolio-img-bloc {
    color: white;
    padding: 1%;
    background-color: #334970;
    margin: 1%;
}

.portefolio-img {
   padding-top: 2%;
}

.portfolio-pic {
    width: 40%;
    border-radius: 5%;
}


/* CTA part */
#cta-container {
    color: white;
    height: 250px;
    text-align: center;
    background-color: #334970;
    margin-top: 5%;
    
}

.cta-bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.cta-titre {
    border: 1px solid white;
    border-radius: 1%;
    padding: 1%;
    background-color: #e86b2b;
}


/* Footer part */
#footer-container {
    height: 250px;
    display: flex;
    box-sizing: border-box;
    padding-top: 2%;
    padding-left: 15%;
    background-image: url(/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.footer-links a {
    color: black;
}

.footer-left, .footer-center, .footer-right {
    width: 33%;
}

.footer-center, .footer-right {
    padding-top: 2%;
}

.footer-center a {
    color: black;
}

.footer-title {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 30%;
}